<h2><%= @me.login %> versus <%= @my_opponent.login %></h2>

<% if @g.my_move(@me) %>

<p>You picked <%= @g.my_move(@me) %>.</p>

<% else %>

<form action="/games/move" method="post">

    <%= token_tag %>

    <input type="hidden" name="game_id" value="<%= @g.id %>" />

    <% for choice in ['rock', 'scissors', 'paper'] %>
        <label>
            <input type="radio" name="choice" value="<%= choice %>" />
            <span><%= choice.titlecase %></span>
        </label>
    <% end %>

    <input type="submit" value="Make your move" />

</form>

<% end %>

<% if @g.winner == @me %>
<p>You win!</p>
<% elsif @g.winner %>
<p><%= @g.winner.login %> <strong>wins</strong>!</p>
<% elsif @g.tied %>
<strong>tied</strong>
<% end %>
