<h2><%= @me.login %> versus <%= @my_opponent.login %></h2>

<% if @g.my_move(@me) %>

<p>You picked

<% if @g.my_move(@me) == 'rock' %>
<img src="/images/bea-arthur.jpeg" width="124" height="94" />
<% elsif @g.my_move(@me) == 'scissors' %>
<img src="/images/betty-white.jpeg" width="93" height="124" />
<% elsif @g.my_move(@me) == 'paper' %>
<img src="/images/estelle-getty.jpeg" width="93" height="124" />
<% end %>

</p>

<% else %>

<form action="/games/move" method="post">

    <%= token_tag %>

    <input type="hidden" name="game_id" value="<%= @g.id %>" />

    <label>
        <img src="/images/bea-arthur.jpeg" width="124" height="94" />
        <input type="radio" name="choice" value="rock" />
    </label>

    <label>
        <img src="/images/betty-white.jpeg" width="93" height="124" />
        <input type="radio" name="choice" value="scissors" />
    </label>

    <label>
        <img src="/images/estelle-getty.jpeg" width="93" height="124" />
        <input type="radio" name="choice" value="paper" />
    </label>

    <input type="submit" value="Make your move" />

</form>

<% end %>

<% if @g.winner == @me %>
<p>You win!</p>
<% elsif @g.winner %>
<p><%= @g.winner.login %> <strong>wins</strong>!</p>
<% elsif @g.tied %>
<strong>tied</strong>
<% end %>
